In [52]:
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd
import requests

In [53]:
# All URL
URL_mars_news = "https://mars.nasa.gov/news/"
URL_mars_image = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
URL_mars_weather = "https://twitter.com/marswxreport?lang=en"
URL_mars_facts = "http://space-facts.com/mars/"
URL_mars_hemispheres = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"

In [54]:

#pointing to the directory where chromedriver existsexecutable_path = {'executable_path': '/Users/MPatxot/.wdm/drivers/chromedriver/78.0.3904.70/mac64/chromedriver'}

browser = Browser('chrome', executable_path, headless=False)

url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [61]:
html = browser.html

soup = BeautifulSoup(html, 'html.parser')

news_title = soup.find('div', class_='content_title').find('a')

In [62]:
# Getting the Paragraph and title

news_p = soup.find('div', class_='article_teaser_body').text
print(f"Title:\n\n{news_title}")
print(f"Paragraph:\n\n{news_p}")

Title:

None
Paragraph:

A NASA Wallops Flight Facility cargo plane transported more than two tons of equipment — including the rover's sample collection tubes — to Florida for this summer's liftoff.

In [63]:
# Add url provided, create variable "featured_image_url", open browser

featured_image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(featured_image_url)

In [64]:
html_image = browser.html
soup = BeautifulSoup(html_image, 'html.parser')

In [65]:
#Getting the base url
featured_image_url  = soup.find('article')['style'].replace('background-image: url(','').replace(');', '')[1:-1]

main_url = 'https://www.jpl.nasa.gov'

featured_image_url = main_url + featured_image_url

featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA18292-1920x1200.jpg'

In [66]:
# Mars Weather Twitter Account

weather_twitter_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(weather_twitter_url)

In [67]:
html_weather = browser.html
soup = BeautifulSoup(html_weather, 'html.parser')

In [68]:
mars_weather = soup.find_all('div', class_='js-tweet-text-container')

# mars_weather

for tweet in mars_weather: 
    weather_tweet = tweet.find('p').text
    if 'Sol' and 'pressure' in weather_tweet:
        print(f"Mars Weather Twitter Tweet:\n\n{weather_tweet}")
        break
    else: 
        pass

In [69]:
#mars facts
facts_url = 'http://space-facts.com/mars/'

browser.visit(facts_url)

In [70]:
mars_facts = pd.read_html(facts_url)

mars_df = mars_facts[0]

mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [71]:
mars_df = mars_df.rename(columns={0 : "Attribute", 1 : "Value"}).\
set_index(["Attribute"])

mars_df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Attribute</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [72]:
mars_df

                                              Value
Attribute
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [73]:
# Mars Hemisperes
hemispheres_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

browser.visit(hemispheres_url)

In [74]:
html_hemispheres = browser.html

soup = BeautifulSoup(html_hemispheres, 'html.parser')

In [75]:
items = soup.find_all('div', class_='item')
hemisphere_image_urls = []
hemispheres_main_url = 'https://astrogeology.usgs.gov'

for item in items: 
   
    title = item.find('h3').text
    
    image_url = item.find('a', class_='itemLink product-item')['href']

    browser.visit(hemispheres_main_url + image_url)

    image_html = browser.html

    soup = BeautifulSoup( image_html, 'html.parser')

    image_url = hemispheres_main_url + soup.find('img', class_='wide-image')['src']

    hemisphere_image_urls.append({"Title" : title, "Image_URL" : image_url})

In [76]:
# Print the URL
hemisphere_image_urls

print(f"Hemisphere Image URLs")
print()
print("-------------------------------------------------")
print()
print(f"Cerberus Hemisphere:\n{hemisphere_image_urls[0]}")
print()
print(f"Schiaparelli Hemisphere:\n{hemisphere_image_urls[1]}")
print()
print(f"Syrtis Major Hemisphere :\n{hemisphere_image_urls[2]}")
print()
print(f"Valles Marineris Hemisphere:\n{hemisphere_image_urls[3]}")

Hemisphere Image URLs

-------------------------------------------------

Cerberus Hemisphere:
{'Title': 'Cerberus Hemisphere Enhanced', 'Image_URL': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}

Schiaparelli Hemisphere:
{'Title': 'Schiaparelli Hemisphere Enhanced', 'Image_URL': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'}

Syrtis Major Hemisphere :
{'Title': 'Syrtis Major Hemisphere Enhanced', 'Image_URL': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'}

Valles Marineris Hemisphere:
{'Title': 'Valles Marineris Hemisphere Enhanced', 'Image_URL': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}